In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [10]:
data = pd.read_csv('data/iris_dataset.csv')

In [11]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
data.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [19]:
x_train, x_test, y_train, y_test = train_test_split(data.iloc[:,:4], data.species, test_size=0.3)

In [21]:
mlp = MLPClassifier(solver='lbfgs',hidden_layer_sizes=[3,3], random_state=1)

In [22]:
mlp.fit(x_train,y_train)

MLPClassifier(hidden_layer_sizes=[3, 3], random_state=1, solver='lbfgs')

In [23]:
pred = mlp.predict(x_test)
pred

array(['virginica', 'virginica', 'virginica', 'setosa', 'setosa',
       'virginica', 'virginica', 'setosa', 'versicolor', 'setosa',
       'virginica', 'versicolor', 'virginica', 'setosa', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'setosa', 'versicolor',
       'versicolor', 'virginica', 'versicolor', 'virginica', 'setosa',
       'virginica', 'versicolor', 'setosa', 'setosa', 'setosa',
       'versicolor', 'versicolor', 'virginica', 'versicolor', 'setosa',
       'setosa', 'virginica', 'setosa', 'versicolor', 'versicolor',
       'virginica', 'virginica', 'versicolor', 'virginica', 'virginica'],
      dtype='<U10')

In [24]:
metrics.accuracy_score(pred, y_test)

1.0